
<nav  class="navbar navbar-default ">
    <div class="container-fluid">

        <!-- <div class="navbar-collapse collapse"> -->
            <ul class="nav navbar-nav">
                <li>
                    <button (click)="onCatalog()"  type="button" class="btn btn-lg" >Catalog</button>
                  
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>

                    <button (click)="onSignOut()" type="button" class="btn btn-lg" >Log out</button>
                </li>
                </ul>
        <!-- </div> -->



    </div>
</nav>
