/* @charset "UTF-8"; */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.movie-card {
  /* font: 14px/22px "Lato", Arial, sans-serif; */
  color: white;
  padding: 40px 0;
}

.container {
  margin: 0 auto;
  width: 60%;
  height: 940px;
  background: transparent;
  border-radius: 5px;
  position: relative;
}
.heroimg{
    z-index: -1;
    width:100%;
    position: absolute;
}
.hero {
  height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  /* z-index: -1; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width:100%;
}



.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
  width:200px;
}

.details {
  padding: 3% 0 0 23%;
  z-index: 2;
  position: relative;
  width:100%;
}
.details .title1 {
  color: white;
  font-size: 48px;
  margin-bottom: 13px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.details .title1 span {
  position: relative;
  top: 3px;
  margin-left: 12px;
  background: #C4AF3D;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 0px 4px;
  z-index: 2;
}

.details .likes {
  margin-left: 24px;
   font-size:20px;
}
.details .likes:before {
  content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
  position: relative;
  top: 2px;
  padding-right: 7px;
 
}
.details .runtime{
  position: relative;

  padding-right: 7px;
  margin-left: 24px;
  font-size:20px;

}
.details .revenue{
  position: relative;

  padding-right: 7px;
  margin-left: 24px;
  font-size:20px;

}

.description {
  bottom: 0px;
  height: 200px;
  font-size: 20px;
  line-height: 26px;
  color: white;
  width:100%;
 
}

.column1 {
  padding-left: 50px;

  width: 220px;
  float: left;
  text-align: center;
  /* height:100px; */
  /* margin-top:-50px; */
 
}

.tag {
    background-color: transparent;
    padding: 1px 3px;
    font-size: 20px;
    margin-top:-50px;
}



.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 5px;
  /* width: 1150px; */
  width:100%;
  float: left;
  /* margin-top:-2%; */
}

.rating {
  border: none;
  float: left;
}

.rating > label:before {
  margin: 5px;
 
  font-size: 2em;
  font-family: FontAwesome;
  /* display: inline-block; */
  content: "";
}


.rating > label {
  color: #FFD700;
  float: right;
  margin-top:-10%;
}
a[data-tooltip][data-placement=top]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

a[data-tooltip][data-placement=top]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}
.castimg{
    width:50%;
}
.char{
    color:grey;

}
.actor{

    font-weight: bold;

}
.rowitems{
    padding-top:5%;
    padding-bottom: 10%;
    max-height: 400px;
  
    padding-right:50px;
  
}
span{
    display: inline-block;
    /* padding-bottom:5%; */
   
}
.title{
  font-weight: bold;
  font-size:50px;
  border-left:10px solid;
  border-left-color:yellow;
  padding-left: 10px;
}
.author{
  font-weight: bold;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size:30px;
  color:yellow;
}
.subat{
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size:20px;
}
.review{
  font-family: 'Source Sans Pro', Arial, sans-serif;

}
.reviews{
  /* border-radius: 10px; */
  border-left:solid 1px;
  border-right:solid 1px;
  padding:20px;
  border-color:yellow;
}

@media (max-width: 1600px) { 
  
  .castimg{
    width: 35%;
    
      }
      .column2{
        /* margin-left:-10%; */
        width:150%;
        margin-top:-5%;
        background-color:aqua ;
      }
      .details{
        padding: 0% 0 0 7%;
        margin-left:25%;
      }
   
      .details .title1{
        margin-top:0%;
        
        width:200%;
        font-size:40px;
      }
      .details .title1 span {
       
        font-size: 14px;
        padding: 0px 4px;
        z-index: 2;
      }
      .rating > label:before {
        margin: 5px;
        margin-top: 5px;
        font-size: 1em;
        font-family: FontAwesome;
        display: inline-block;
        content: "";
      }
      .column1{
        margin-top:0px;
      }
      .details .likes{
        margin-right:3px;
      }
    
      .rating > label {
        margin-top:0;
        }
      
    }
@media (max-width: 1000px) { 
  .castimg{
    width: 40%;
    
      }
      .column2{

        width:400px;
        margin-left:-10%;
        margin-right:100%;
        padding-left:0;
        margin-top:-5%;
  
      }
      .details{
        padding: 1% 0 0 0%;
      }
     
   
      .details .title1{
        margin-top:40%;
        width:200%;
        font-size:20px;
      }
      .details .title1 span {
       
        font-size: 14px;
        padding: 0px 4px;
        z-index: 2;
      }
      .rating > label:before {
        margin: 3px;
        margin-top: 0;
      
        font-size: 1em;
        font-family: FontAwesome;
        display: inline-block;
        content: "";
      }
      .rating > label {
      margin-left:0px;
      }
      .details .runtime{
        position: relative;
      
        padding-right: 7px;
        margin-left: 0px;
        margin-right:10;
        font-size:20px;
      
      }
      .column1{
        margin-top:0px;
      }
      .details .likes{
        margin-right:5%;
      }
      .details .revenue{
        margin-left:0px;
      }
      
      
   
 }

